<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{images/favicon.png}" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <script type="text/javascript" src="/js/jquery-1.10.0.min.js" ></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js" ></script>
    <script type="text/javascript" src="/js/datagrid-groupview.js"></script>
    <script type="text/javascript" src="/js/user_roles.js"/>
<!--    <script type="text/javascript" src="/js/workpointList.js" ></script> -->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" type="text/css"  href="/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/myBoot.main.css}"  href="/css/main.css" />

    -->
</head>
