<nav class="navbar navbar-default navbar-fixed-top" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
<!--            <li class="active"><a href="/">Home</a></li> -->
            <li><a href="user_roles">Роли</a></li>
            <li><a href="permissions">Полномочия</a></li>

        </ul>


        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list"></span> Login</a></li>
        </ul>
    </div>
</nav>