<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header">
</head>
<body>
<div lang="en" th:include="fragments/navigation :: navigation"></div>

<div class="container">
  <h1 th:text="Полномочия"></h1>


</div>

<div lang="en" th:include="fragments/footer :: footer"></div>
</body>
</html>