<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="icon" type="image/x-icon" th:href="@{images/favicon.png}" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">




<!--    <script src="https://github.com/citnvillareal/serializeObject/blob/master/js/jquery-1.11.3.min.js"></script> -->


    <script type="text/javascript" src="/js/jquery-1.10.0.min.js" ></script>
    <script src="/js/jquery.serializeObject.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js" ></script>
    <script type="text/javascript" src="/js/datagrid-groupview.js"></script>
    <script type="text/javascript" src="/js/user_roles.js"/>
    <!--    <script type="text/javascript" src="/js/workpointList.js" ></script> -->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" type="text/css"  href="/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/myBoot.main.css}"  href="/css/main.css" />

    -->
</head>


<body  >

  <div>Роли</div>


  <div id="toolbar">
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newElement()">Новый элемент</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editElement()">Редактировать</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteElement()">Удалить</a>
  </div>



  <div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
      <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
          <h3>Редактирование элемента</h3>
          <input name="id" type="hidden" label="ID:" style="width:100%">

          <div style="margin-bottom:10px">
              <input name="roleNumber" class="easyui-textbox"  label="Номер:" style="width:100%">
          </div>
          <div style="margin-bottom:10px">
              <input name="name" class="easyui-textbox" label="Название:" style="width:100%">
          </div>
          <div style="margin-bottom:10px">
              <input name="comment" class="easyui-textbox" label="Комментарий:" style="width:100%">
          </div>

          <div style="margin-bottom:10px">
              <input name="jiraIssue" class="easyui-textbox" label="задача Jira :" style="width:100%">
          </div>

          <div style="margin-bottom:10px">
              <input name="isDeleted" label="Удалена"  class="easyui-combobox" data-options=" valueField: 'label',textField: 'value',data: [{label: false,value: 'Нет'},{label: true,value: 'Да'}]" />
          </div>

          <div style="margin-bottom:10px">
              <input name="inLanitContour" label="Ланит"  class="easyui-combobox" data-options=" valueField: 'label',textField: 'value',data: [{label: false,value: ''}, {label: false,value: 'Нет'},{label: true,value: 'Да'}]" />
          </div>
          <div style="margin-bottom:10px">
              <input name="inPPAKContour" label="ППАК"  class="easyui-combobox" data-options=" valueField: 'label',textField: 'value',data: [{label: false,value: 'Нет'},{label: true,value: 'Да'}]" />
          </div>
          <div style="margin-bottom:10px">
              <input name="inTPAKContour" label="ТПАК"  class="easyui-combobox" data-options=" valueField: 'label',textField: 'value',data: [{label: false,value: 'Нет'},{label: true,value: 'Да'}]" />
          </div>
          <div style="margin-bottom:10px">
              <input name="isActive" label="Активная"  class="easyui-combobox" data-options=" valueField: 'label',textField: 'value',data: [{label: false,value: 'Нет'},{label: true,value: 'Да'}]" />
          </div>
          <div style="margin-bottom:10px">
              <input name="isSystem" label="Общесистемная"  class="easyui-combobox" data-options=" valueField: 'label',textField: 'value',data: [{label: false,value: 'Нет'},{label: true,value: 'Да'}]" />
          </div>
          <div style="margin-bottom:10px">
              <input name="allowBlocking" label="Может ли быть заблокирована"  class="easyui-combobox" data-options="valueField: 'label',textField: 'value',data: [{label: false,value: 'Нет'},{label: true,value: 'Да'}]" />
          </div>

      </form>
  </div>




  <div id="dlg-buttons">
      <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveElement()" style="width:90px">Сохранить</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Отмена</a>
  </div>



  <table id="dg" class="easyui-datagrid"
           url="/api/getUserRoles"
           toolbar="#toolbar"
           rownumbers="true"
           singleSelect=true
           idField="id"
            >
        <thead>
        <tr>
            <th data-options="field:'id',width:100">ID</th>
            <th data-options="field:'roleNumber',width:100">Номер</th>
            <th data-options="field:'name',width:100">Название</th>
            <th data-options="field:'jiraIssue',width:100">задача Jira</th>
            <th data-options="field:'isDeleted',width:100,align:'right',enabled:false"      formatter="boolean_formatter">Удаленная</th>
            <th data-options="field:'inLanitContour',width:100,align:'right',enabled:false" formatter="boolean_formatter">Ланит</th>
            <th data-options="field:'inPPAKContour',width:100,align:'right'"                formatter="boolean_formatter">ППАК</th>
            <th data-options="field:'inTPAKContour',width:100,align:'right'"                formatter="boolean_formatter">ТПАК</th>
            <th data-options="field:'isActive',width:100,align:'right'"                     formatter="boolean_formatter">Активная</th>

            <th data-options="field:'isSystem',width:100,align:'right'"                     formatter="boolean_formatter">Общесистемная</th>
            <th data-options="field:'allowBlocking',width:100,align:'right'"                formatter="boolean_formatter">Может ли быть заблокирована</th>
            <th data-options="field:'comment',width:100,align:'right'">Комментарий</th>
            <th data-options="field:'lastChangeDate',width:100,align:'right'">Дата последнего изменения</th>





        </tr>
        </thead>
    </table>

  <script type="text/javascript">




      function boolean_formatter(value) {
          //console.log( value );
          if (value == true) {
              return '√';
              //return '<input type="checkbox" checked>';
          }
          else {
              return '';
          }
      }



      function newElement(){
          $('#dlg').dialog('open').dialog('center').dialog('setTitle','Новый элемент');
          $('#fm').form('clear');
          url = '/api/updateUserRole';
      }
      function editElement(){
          var row = $('#dg').datagrid('getSelected');
          if (row){
              $('#dlg').dialog('open').dialog('center').dialog('setTitle','Редактировать элемент');



              $.ajax({
                      url: "/api/getUserRole/"+row.id,
                      dataType: 'json',
                      type: 'get',
                      contentType: "application/json; charset=UTF-8",
                      success: function(restResult){
                          if (restResult.value==="ERROR" ){
                              $.messager.show({
                                  title: 'Error',
                                  msg: restResult.errorMsg
                              });
                          } else {
                              $('#fm').form('load',restResult.resultData);
                          }},
                      error: function(xhr){
                          console.log( "An error occured: " + xhr.status + " " + xhr.statusText);
                      }
                  }
              );



          }
      }
      function saveElement(){

          $.ajax({
                  url: "/api/updateUserRole",
                  dataType: 'json',
                  type: 'post',
                  contentType: "application/json; charset=UTF-8",
                  data: JSON.stringify( $( "#fm" ).serializeObject()),
                  success: function(restResult){
                      if (restResult.result==="ERROR" ){
                          $.messager.show({
                              title: 'Error',
                              msg: restResult.message
                          });
                      } else {
                          $('#dlg').dialog('close');		// close the dialog
                          $('#dg').datagrid('reload');	// reload the user data
                      }},
                  error: function(xhr){
                      console.log( "An error occured: " + xhr.status + " " + xhr.statusText);
                  }
                }
          );


      }
      function deleteElement(){
          var row = $('#dg').datagrid('getSelected');
          if (row){
              $.messager.confirm('Confirm','Вы действительно хотите удалить выделенный элемент?',function(r){
                  if (r){

                      $.ajax({
                              url: "/api/deleteUserRole/"+row.id,
                              dataType: 'json',
                              type: 'get',
                              contentType: "application/json; charset=UTF-8",
                              success: function(restResult){
                                  if (restResult.value==="ERROR" ){
                                      $.messager.show({
                                          title: 'Error',
                                          msg: restResult.errorMsg
                                      });
                                  } else {
                                      $('#dg').datagrid('reload');	// reload the user data
                                  }},
                              error: function(xhr){
                                  console.log( "An error occured: " + xhr.status + " " + xhr.statusText);
                              }
                          }
                      );
                  }
              });
          }
      }
  </script>


</body>
</html>